#root {
  width: 100%;
  max-width: 736px;
  min-height: 100vh;
  padding: 2rem;
  font-family: 'Inter', 'Inter Fallback';
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.white-icon {
  color: #FAFAFA;
  margin-right: 15px;
  cursor: pointer;
}

.custom-pagination .page-link {
  color: black; /* 기본 글자색 */
}

.custom-pagination .page-item.active .page-link {
  background-color: #0A0A0A; /* 눈에 잘 띄는 노란 계열 */
  border-color: #0A0A0A;
  color: white; /* active 상태 글자색 */
}

.custom-pagination .page-item.disabled .page-link {
  color: #ccc; /* 비활성화된 항목 색상 */
}